*{
    font-size: 1.04em;
}


#backgroung { 
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
 } 
 .stretch { 
    width:100%;
    height:100%;
 }



.container{
  height:75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn-1{
    font-size: 5em;
    border-radius: 20px;
    color:  rgb(25, 128, 11);
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    border-color:  rgb(25, 128, 11);
    border-width: 10px;
    transition: ease-in .3s;
}

#btn-1:hover{
    font-size: 5.5em;
    background-color: rgb(30, 255, 0);
    color: white;
    cursor: pointer;
}
.menu li{
    list-style: none;
}



.menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
    
}
.menu button{
    border: none;
    background-color: white;
    text-decoration: none;
    cursor: pointer;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
#registrarse button{
    padding-left: 90%;
    background-color: white;
    border: none ;
    cursor: pointer;
    
}

#registrar{
    position: absolute;
    text-align:center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px;
    padding-right: 25px;
    box-shadow: 0 1rem 3rem  rgba(43, 255, 0, 0.548);
    background-color: rgba(255, 255, 255);
    backdrop-filter: blur(100rem);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    

}

#iniciarSesion{
    position: absolute;
    text-align:center;

    max-width: 25%;
    width: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1.5vw;
    padding-right: 2.5vw;
    box-shadow: 0 1rem 3rem  rgba(43, 255, 0, 0.548);
    background-color: rgba(255, 255, 255);
    backdrop-filter: blur(100rem);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    

}

#highScore{
    position: absolute;
    text-align:center;
   
    max-width: 25%;
    width: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1.5vw;
    padding-right: 2.5vw;
    box-shadow: 0 1rem 3rem  rgba(43, 255, 0, 0.548);
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(100rem);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    
}

#highScore h2::after{
    content: "";
    position: absolute;
    height: 0.3vh;
    border-radius: 3px;
    background-color: rgb(30, 255, 0);
    width: 100%;
    left: 0;
    bottom: 0;    
}

#iniciarSesion input{
    border:none;
    border-radius: 15px;
    margin-bottom: 2%
    
}

#registrar input{
    border:none;
    border-radius: 15px;
    margin-bottom: 2%
    
}

#registrar button{
    border-radius: 7px;
    cursor: pointer;
   
}

#iniciarSesion p{
    cursor: pointer;
}

#registrar p{
    cursor: pointer;
    transition: ease-in .2s;
}



h2{
    position: relative;
    margin-bottom: 1.5vw;
    padding-bottom: 0.7vw;
}
#registrar h2::after{
    content: "";
    position: absolute;
    height: 0.3vh;
    border-radius: 3px;
    background-color: rgb(30, 255, 0);
    width: 100%;
    left: 0;
    bottom: 0;    
}

#iniciarSesion h2::after{
    content: "";
    position: absolute;
    height: 0.3vh;
    border-radius: 3px;
    background-color: rgb(30, 255, 0);
    width: 100%;
    left: 0;
    bottom: 0;    
}

input{
    display: block;
    width: 100%;
    height: 8vh;
    padding: 0.5vw 0.6vw;
    margin-bottom: 1.5vh;
    border: none;
    outline: none;
    border-radius: 1px;
    background-color: rgb(235, 235, 235)    ;
}

.acuerdo{
    text-align: center;
    margin-bottom: 15px;
    font-size: 17px;
}

.btn-2{
    display: block;
    margin: auto;
    width: 100%;
    height: 8vh;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    color: #fff;
}.btn-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.link{
    text-align: center;
    margin-top: 15px;
    font-weight: bolder;
}
.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 0.1vw;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

@media(max-width: 800px){
    .menu{
        display: none;
    }
    .menu_bar{
        display: block;
    }
    }
